body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    background-color: rgb(16, 16, 83);
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.day {
    flex: 1 1 70%; /* Adjust width as needed */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgb(174, 176, 157);
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}